<!DOCTYPE html>
<html>
<head>
  <title>New Campus</title>
</head>
<body>

  <form action="/campuses" method="POST">
    <input type="text" name="name" placeholder="Campus">
    <button type="submit">Save</button>
  </form>

</body>
</html>