<!DOCTYPE html>
<html>
<head>
  <title>Student Management System</title>
</head>
<body>

  <p>Click <a href="new_campus">here</a> to create a new campus.</p>

  <ul>
    <% @campuses.each do |campus| %>
      <li><%= campus['name'] %></li>
    <% end %>
  </ul>



  
</body>
</html>